:root {
    /* Color Variables */
    --background-color: black;
    --background-color-alt:#333;
    --border-color: gray;

    --welcome-text-color: #FFEDD5;
    --text-color: white;
    --secondary-text-color: #9CA3AF;
    
    --accent-color: #F97316;
  
    /* Font Variables */
    --primary-font: 'Roboto, sans-serif';
    --secondary-font: 'Georgia, serif';
    --bold: 700;

    /* Size Variables */
    --base-font-size: 16px;
    --heading-font-size: 2em;
    --padding: 1em;
    --margin: 1em;

    --project-columns: 4;
}

body > * {
    font-family: 'Roboto', sans-serif;
}

header .container {
    z-index: 1001;
    position: relative;
    
    border-bottom: 2px solid var(--border-color);
}

header .content {
    padding-left: 10%;
    padding-right: 10%;

    align-items: center;
    
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

header a {
    text-decoration: none;
    color: var(--text-color);
}

header h1 {
    font-size: 1.5em;

    margin: var(--margin) 0;

    display: block;

    grid-column: 1;
}

.navlist {
    justify-self: right;

    display: flex;
    list-style-type: none;

    grid-column: 2;
}

.navlist a {
    display: inline-block;
    white-space: nowrap;

    color: #d8d8d8;
    line-height: 32px;
    margin-left: 20px;
    margin-right: 20px;

    font-size: 1.2em;
    font-weight: 600;

    transition: all .55s ease;
}

.navlist a:hover {
    text-decoration-line: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.navlist i {
    margin-right: 8px;
}

#menu-icon {
    color: white;
    font-size: 32px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

footer {
    color: var(--accent-color);
    padding: 40px 0;
    text-align: center;
}