* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

    font-family: 'Poppins', sans-serif;
    line-height: 18px;
}

body {
    background: rgb(255, 255, 255);
}

header {
    position: fixed;

    top: 0;
    right: 0;

    z-index: 1000;
    width: 100%;

    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 20px 9%;

    background: #202020bc;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.navlist {
    display: flex;
}

.navlist a {
    display: inline-block;
    white-space: nowrap;

    color: #d8d8d8;
    line-height: 32px;
    margin-left: 20px;
    margin-right: 20px;

    font-size: 24px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover {
    border-bottom: 2px solid #d8d8d8;
}

.navlist i {
    margin-right: 8px;
}

#menu-icon {
    color: white;
    font-size: 32px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.about {
    padding-top: 30px;

    min-height: 50vh;
        
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    gap: 1rem;
}

.about-image {
    justify-self: end;
}

.about-image img {
    width: 200px;
    
    border: 1px solid transparent;
    border-radius: 10px;
}

.about-text {
    background: rgba(0, 0, 0, 0.5);
    
    margin-right: 22%;
    width: 500px;
    height: 300px;

    padding: 10px;

    border: 1px solid transparent;
    border-radius: 10px; 
}

.about-text h2 {
    font-family: 'Martian Mono', monospace;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}

.about-text p {
    color: white;
}

.name-text {
    color: rgb(201, 24, 24);
}

.projects {
    text-align: center;
    background: rgb(240, 240, 240);
    padding: 40px 0;
}

.projects h2 {
    border-bottom: 2px solid black;
    display: inline-block;
    margin-bottom: 10px;
}

.projects h3 {
    padding-top: 10px;
}

.projects p {
    padding-top: 10px;
    text-align: left;
}

.project-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: center;
}

.project-card {
    background-color: #2b2b2b;
    color: white;

    width: 300px;
    padding: 10px;
    /* height: 450px; */
    height: auto;

    /* flex-direction: ; */
    align-items: center;

    margin: 10px;

    border-radius: 10px;
    transition: all 1s ease;
}

.book-link {
    border-bottom: 1px dotted white;
}

.book-link:hover {
    border-bottom: 1px solid white;
}

.project-card a {
    color: white;
}

.project-card > * {
    transition: all 1s ease;
}

.project-card a:hover > * {
    transform: scale(1.02);
    /* cursor: pointer; */
}

.project-card a:hover > h3 {
    transform: scale(1.02);
    cursor: pointer;
    display: inline-block;
    border-bottom: 2px solid white;
}

.projects img {
    border-radius: 10px;
    width: 280px;
}

.tags {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
    margin-top: auto;
}

.tag {
    /* padding-top: 20px; */
    margin-right: 5px;
}


.tags img {
    width: 32px;
    vertical-align: bottom;
}


.contact {
    background: rgb(247, 247, 247);

    text-align: center;
    padding-top: 30px;
}

.contact h2 {
    display: inline-block;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
}

.contact > p {
    padding: 0px 20px;
    line-height: 20px;
    margin-bottom: 10px;
}

.mail-link {
    color: black;
    border-bottom: 1px dotted black;
}

.mail-link:hover {
    color: black;
    border-bottom: 1px solid black;
}

.contact ul {
    display: flex;
    justify-content: center;
}

.contact li {
    transition: all .2s ease;
    margin: 10px 20px;
}

.contact li > p {
    transition: all .2s ease;

    line-height: 32px;
    color: rgb(247, 247, 247);
}

.contact li:hover {
    transform: translateY(-5px);

}

.contact li:hover > p {
    display: inline;
    color: black;
}    

.contact i{
    display: block;
    font-size: 32px;
    color: black;
}

footer {
    color: grey;
    background: rgb(59, 59, 59);
    padding: 40px 0;
    text-align: center;
}

@media (max-width: 1000px) {
    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        background: #202020bc;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
        border-bottom-left-radius: 10px;
    }

    .navlist a {
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }

    .navlist.open {
        right: 0;   
    }

    .about {
        padding-top: 80px;
        grid-template-columns: 30% 70%;
    }
}

@media (max-width: 780px) {
    .about-image img {
        width: 100px;
    }

    .about-text {
        width: 300px;
        height: 350px;
    }

    .about {
        padding-top: 80px;
        grid-template-columns: 40% 60%;
        padding-bottom: 20px;
    }
}

@media (max-width: 660px) {
    .about {
        grid-template-columns: 30% 70%;
    } 
}

@media (max-width: 500px) {
    .about {
        display: block;
        padding-bottom: 20px;
        padding-left: 20vw;
    }
    
    .about-text {
        width: auto;
        height: auto;
    }

    .about-image {
        display: none;
    }
}