/* Reset or Normalize CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--primary-font);
    font-size: var(--base-font-size);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}

b {
    color: var(--accent-color);
}
    
.welcome {
    background: url('data/dummy-image.jpg') no-repeat center center/cover;
    color: var(--welcome-text-color);
    
    padding: 10em 1em;
    align-items: center;
    border-bottom: 2px solid var(--border-color);   
}

.welcome .container {
    position: relative;
    z-index: 2;
}

.welcome::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.welcome .content {
    margin-left: 10%;
    position: relative;
    z-index: 3;

    align-items: center;
}

.welcome h2 {
    font-size: 2.5em;    
    /* margin-bottom: 10px; */
}

.welcome h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn {
    background: var(--accent-color);
    color: var(--welcome-text-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.about-me {
    background:var(--background-color);
    color: var(--text-color);
    text-align: left;
    border-bottom: 2px solid var(--border-color);   

    padding: 30px 10%;
}

.about-me .container {
    position: relative;
    z-index: 2;
}

.about-me .content {
    display: grid;

    justify-content: center;
    align-items: center;

    grid-template-columns: 50% 50%;
    gap: 4em;
}

.about-me-text {
    grid-column: 1;
    text-align: right;
    width: 60%;
    justify-self: right;
}

.about-me p {
    margin: 0;
}

.profile-pic {
    grid-column: 2;
    border-radius: 10px;
}

.skills-education {
    background:var(--background-color);
    color: var(--text-color);
    text-align: center;
    padding: 50px 0;
    border-bottom: 2px solid var(--border-color);   
}

.skills-education .container {
    /* max-width: 1200px; */
    margin: 0 auto;

    position: relative;
    z-index: 2;
}

.skills-education .content {
    margin-bottom: 30px;
}

.skills-education .content {
    display: flex;
    margin-bottom: 50px;
}

.skills-image {
    max-width: 40%;
    border-radius: 10px;
    justify-content: left;
    margin-left: 10%;
    object-fit: cover;
}

.skills-education .list {
    max-width: 50%;
    text-align: left;

    margin-top: 25px;
    margin-right: 10%;
    margin-left: 5%;
}

.skills-education .list h3, p {
    margin-left: 32px;
}

.skills-education .list h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.skills-education .list p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.projects {
    border-bottom: 2px solid var(--border-color);   
}

.projects .container {
    position: relative;
    z-index: 2;
}

.projects .content {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 30px;
    padding-bottom: 30px;
}

.projects .content h2 {
    margin-bottom: 50px;
}

.project-image {
    border-radius: 5px;
    width: 100%;
    image-rendering: pixelated;
    object-fit: cover;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(var(--project-columns), 1fr); /* 4 columns */
    gap: 32px; /* Gap between items */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.project-list p {
    margin: 0;
}

.project-list a {
    display: block; /* Display as block-level elements */
    color: var(--accent-color);
    text-align: right; /* Align text to the right */
    padding-right: 10px;
}

.contact .content {
    text-align: center;
    padding-top: 30px;

    position: relative;
    z-index: 2;

    border-bottom: 2px solid var(--border-color);
}

.contact .content h2 {
    display: inline-block;
    
    text-decoration-line: underline;
    margin-bottom: 15px;
}

.contact .content p {
    padding: 0px 20px;
    line-height: 24px;
    margin-bottom: 10px;
}

.mail-link {
    color: var(--text-color);
    
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.mail-link:hover {
    text-decoration-style: solid;
}

.contact-icons {
    display: flex;
    justify-content: center;
    list-style: none;
}

.contact-icons li {
    transition: all .2s ease;
    margin: 10px 20px;
}

.contact-icons p {
    transition: all .2s ease;

    line-height: 32px;
    color: var(--background-color);

    margin: 0;

    text-align: center;
}

.contact-icons li:hover {
    transform: translateY(-5px);
}

.contact-icons li:hover p {
    color: var(--text-color);
}    

.contact-icons a {
    text-decoration: none;
}

.contact-icons i{
    display: block;
    font-size: 32px;
    color: var(--text-color);
}